.vscode-test/**
.vscode-test
out/test/**
src/**
src/i18n/**
.gitignore
.vscodeignore
**/*.map
*.vsix
.eslintrc.js
**/.eslintrc.json
**/*.ts
**/tsconfig.json
**/.esbuild.ts
**/node_modules/**
**/.vscode/**
**/.github/**
**/test/**
**/.git/**
